.Title {
    margin-top: 50px;
    text-align: center;
}

.Board {    
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;

    > button {
        flex-basis: 33%;
        width: 150px;
        height: 150px;
        background-color: white;
        font-size: 2rem;
        cursor: pointer;
    }

    .Win {
        background-color: green;
    }
}